<!DOCTYPE html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="fb:app_id" content="{{ facebook_app_id }}"/>
    <title>{{ oem_name }}</title>

    <link rel="icon" href="/images/{{ oem }}/favicon.png" type="image/png"/>

    {% assets "css_base_map" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_base_map" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>

    <script>
        var highlight_current_page = '';
        var toast = '{{ toast }}';
    </script>

    {% include "_webfonts.html" %}

    {% block head %}{% endblock %}

</head>

<body>

{% include "_header_bar.html" %}

{% block body %}{% endblock %}

{% include "_webflow_script.html" %}



<div class="js-popup"></div>

<script>
    $(document).ready(function () {
        $.material.init();
    });

</script>

{% block footer %}{% endblock %}

</body>
</html>
