<style>
.table-container {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #808284;
  padding-top: 50px;
  padding-bottom: 50px;

}
.top-users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}
.top-users th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
.top-users tr:nth-child(even){background-color: #f2f2f2;}
.top-users tr:hover {background-color: #ddd;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
{% extends "base_map.html" %}

{% block body %}
<div class='table-container'>
  <h3>The {{ users|length }} Most Recent Users in our Community</h3>
  <table class='top-users'>
    <tr>
      {% for attr in attributes %}
      <th>{{ attr }}</th>
      {% endfor %}
    </tr>

    {% for user in users %}
    <tr>
      <td>
          <!-- Trigger/Open The Modal -->
          <button class="modal-button">{{ user.display_name }}</button>
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <p class = "user_location">{{ user.get_attribute("LOCATION")}}</p>
            </div>
          </div>
      </td>
      <td>{{ user.point_balance }}</td>
      <td>{{ user.tier }}</td>
      <td>{% for phonen in user.get_multi("PHONE") %}
        <ul>
          <li>
            {% if phonen %}
              {{ phonen }}
            {% else %}
              {{ "None" }}
            {% endif %}
          </li>
        </ul>
          {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the buttons that open the modal
var btns = document.getElementsByClassName("modal-button");

// Get and set the button text
var locations = document.getElementsByClassName("user-location");
for (let i = 0; i < locations.length; i++){
  locations[i].innerHTML = "Location";
}
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
for (let i = 0; i < btns.length; i++){
  btns[i].onclick = function() {
      modal.style.display = "block";
    }
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}
